# Environment config

# Please specify everything for your bot

# Note: .env is a shell file, so the can't be spaces around =

PREFIX=e!
BOT_TOKEN=ODI0NjU3NDIyMzgyNTMwNTcy.YFykEg.kPgv_pcfYp6nP7zxkQmDyacrABE
YTAPI_KEY=
PROJECT_DOMAIN=